.DS_STORE

# Virtualenv related
bin/
include/
pip-selfcheck.json

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.ENV_6017
.venv
ENV_6017/
venv/
ENV_6017/

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
